.startup-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    text-align: center;
}
.scream-image {
    width: 400px;
    height: auto;
}
p {
    margin: 0;
}
.magnolia-image {
    width: 180px;
    height: auto;
    /* margin-block: 20px; */
    align-self: center;
    /* border: 1px solid black; */
}

.pua-image {
    width: 180px;
    height: auto;
    margin-right: 20px;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 20px;
}

.yes-button {
    margin-top: 20px;
    width: 100px;
    align-self: center;
    height: 60px;
    padding: 10px 20px;
    font-size: 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.question {
    display: flex;
    flex-direction: column;
}